:root {
  --AI-msg-width:
}

.user-msg {

  background-color: rgb(88, 198, 88);
  padding: 10px;
  border-radius: 20px;
  margin-block: 5%;
  width: fit-content;
}



.AI-words {
  opacity: 0;
  transition: .3s ease-in-out opacity;

}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.flashcard-btn:focus {
  background-color:aqua;
  border: rgb(255, 163, 178);
}

.correct {
  
  background-color: green;
}

.wrong {
  background-color: red;
}